{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
<main role="main">

    <section class="header">
        <div class="headerLeftPart">
            <h1>CookingFriends</h1>
        </div>
        <div class="headerRightPart">
            <nav>
                <li>
                    <button class="btnNav" type="button">
                        <i class="fa-solid fa-book"></i>
                        <a href={{ path('app_login') }}>Voir toutes les recettes</a>
                    </button>
                </li>
                {% if app.user == null %}
                <li>
                    <button class="btnNav" type="button">
                        <i  class="fa-solid fa-user"></i>
                        <a href={{ path('app_login') }}>Se connecter</a>
                    </button>
                </li>
                {% else %}
                    <li>
                        <button class="btnNav" type="button">
                            <i  class="fa-solid fa-user"></i>
                            <a href={{ path('app_user_favories') }}>{{ app.user }}</a>
                        </button>
                    </li>
                {%  endif %}
            </nav>
        </div>
    </section>
    <div style="height: 5vh;width: 100%;background-color: white">

    </div>

    <section class="formSearchRecette">
        <img src={{ asset('/uploads/bg-noel.jpg')  }} alt="">
        {{ include('home_page/_form.html.twig') }}
    </section>

    <div style="background-color:white" class="album py-5 ">
        <div class="container">
            <div class="row">
                <h2 class ="LastRecette"><i class="fa-solid fa-book"></i> Les 3 dernières recettes ! </h2>
                {% for recette in recettes %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img style="min-height:300px;max-height:300px" class="card-img-top"  src="{{ asset('/uploads/' ~ recette.image )  }}" alt="mon image">
                            <div class="card-body">
                                <p class="card-text">{{recette.name}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                        <a href="{{ path('app_home_page_show', {'id': recette.id} ) }}" class="btn btn-sm btn-outline-secondary">Voir plus</a>
                                        {% if app.user == null %}

                                        {% else %}
                                            {% if is_granted('ROLE_ADMIN') or recette.users == app.user  %}
                                                <a href={{ path('app_home_page_edit', {'id': recette.id} ) }} class="btn btn-sm btn-outline-secondary">Modifié</a>
                                            {% else %}

                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <small class="text-muted">{{recette.users}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>



<style>

    .LastRecette {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        font-weight: bold;
        font-family: 'Red Hat Text', sans-serif;
    }

    .LastRecette i {
        color: #ff4269;
        margin: 2px;
    }
    .btnNav{
        background-color: white;
        text-decoration: none;
        border: none;
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 0 10px;
        border-right:2px solid #f4f3f4 ;
    }

    .btnNav i{
        color: #ff4269;
        margin: 2px;
    }

    .btnNav a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Red Hat Text', sans-serif;
    }

    .btnNav p{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Red Hat Text', sans-serif;
    }


    .header{
        width: 100%;
        padding: 10px 0;
        background: red;
        display: flex;
        align-items: center;
        z-index: 1000;
        border-bottom: 2px solid #f4f3f4;
        box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.5);
        background-color: white;
    }

    .headerLeftPart{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: 'Rubik Vinyl', cursive;
        color: #ff4269;
    }

    .headerRightPart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .headerRightPart nav{
        display: flex;
        list-style: none;
    }

    nav li{
        padding: 10px;
    }

    .formSearchRecette{
        width: 100%;
        height: auto;
    }

    .formSearchRecette img {
        width: 100%;
        z-index: 0;
    }

</style>

{% endblock %}
